<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <%= erb :volver_top %>
      <h1><%= t.fellows.title %></h1>
      <p><%= t.fellows.content1 %></p>
      <p><%= t.fellows.content2 %></p>
      <h2><%= t.fellows.title2 %></h2>
      <p><%= t.fellows.content3 %></p>
      <p><%= t.fellows.content4 %></p>
      <p><%= t.fellows.content5 %></p>
      <p><%= t.fellows.content6 %></p>
      <p><%= t.fellows.content7 %></p>
      <p><%= t.fellows.content8 %></p>
      <p><%= t.fellows.content9 %></p>
      <p><%= t.fellows.content10 %></p>
      <p><%= t.fellows.content11 %></p>
      <p><%= t.fellows.content12 %></p>
      <p><%= t.fellows.content13 %></p>
      <p><%= t.fellows.content14 %></p>
      <p><%= t.fellows.content15 %></p>
      <p><%= t.fellows.content16 %></p>
      <p><%= t.fellows.content17 %></p>
      <p><%= t.fellows.content18 %></p>
    </div>
    <%= erb :volver %>
  </div>
</section>
