<section class="main_container" id="contact_page">
  <!--Form Contact -->
  <div class="title">
    <h2><%= t.contact.title %></h2>

    <figure>
      <img src="img/logo_small.svg">
    </figure>
  </div>

  <form id="contact" method="post" action="/contactar" name="contact">
    <div class="row">
      <div class="col-md-6">
        <div class="input-container">
          <input type="text" name="name" id="name" value="" required="">
          <label for="name"><%= t.form.name %>*</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container">
          <input type="text" name="organization" id="organization" value="" required="">
          <label for="organization"><%= t.form.organization %>*</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container">
          <input type="email" name="email" id="email" value="" required="">
          <label for="email"><%= t.form.email %>*</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="input-container">
          <select name="country" id="country" required="">
            <option value=""><%= t.form.country %>*</option>
            <option value="">--------</option>
            <% FormData.countries.each do |country| %>
              <option value='<%= country %>' name='country' >
                <%= country %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="textarea-container">
          <textarea placeholder="<%= t.contact.message %>*" name="message" id="message" required></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <small><%= t.form.mandatory %></small>
        <button type="submit" class="btn" id="send"><%= t.contact.submit %></a>
      </div>
    </div>
  </form>
</section>
<script src='/js/validate.min.js'></script>
<script src="/js/contact.js"></script>