<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t.criteria.title %></h1>
      <h2><%= t.criteria.title2 %></h2>
      <p><%= t.criteria.content1 %></p>
      <p><%= t.criteria.content1 %></p>
    </div>
    <%= erb :volver %>
  </div>
</section>
