<section class="main_container" id="evento_page">
  <div class="row">
    <div class="col-md-6">
      <h3><%= t.event.title_0 %></h3>
      <i class="icon-panelicon" id="event_panel_icon"></i>
    </div>
    <div class="col-md-6">
      <p><%= t.event.content0 %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3><%= t.event.title_1 %></h3>
      <p><%= t.event.content1 %></p>
    </div>
    <div class="col-md-4">
      <p><%= t.event.content2 %></p>
    </div>
    <div class="col-md-4">
      <p><%= t.event.content3 %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><%= t.event.title2 %></h3>
      <i class="icon-panelicon" id="event_panel_icon"></i>
    </div>
    <div class="col-md-6">
      <p><b><%= t.event.description1 %></b></p>
      <p><%= t.event.description2 %></p>
      <p><b><%= t.event.description3 %></b></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4><%= t.event.title3 %></h4>
      <p><%= t.event.description4 %></p>
    </div>

    <div class="col-md-4">
      <h4><%= t.event.title4 %></h4>
      <p><%= t.event.description5 %></p>
    </div>

    <div class="col-md-4">
      <h4><%= t.event.title5 %></h4>
      <p><%= t.event.description6 %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4><%= t.event.title_6 %></h4>
      <p><%= t.event.description_6 %></p>
    </div>

    <div class="col-md-4">
      <h4><%= t.event.title_7 %></h4>
      <p><%= t.event.description_7 %></p>
    </div>

    <div class="col-md-4">
      <h4><%= t.event.title_8 %></h4>
      <p><%= t.event.description_8 %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4><%= t.event.title_9 %></h4>
      <p><%= t.event.description_9 %></p>
    </div>

    <div class="col-md-6">
      <h4><%= t.event.title_10 %></h4>
      <p><%= t.event.description_10 %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <i class="icon-commenticon"></i>
      <p class="comment_info"><%= t.event.description7 %></p>
    </div>
    <div class="col-md-4">
      <div class="coffee_module">
        <p>
          <i class="icon-coffeicon"></i>
          <small><%= t.event.coffee %></small>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3><%= t.event.title6 %></h3>
    </div>
    <div class="col-md-8">
      <p><%= t.event.description8 %></p>
      <p><b><%= t.event.title7 %></b></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="steps">
        <h2>1.</h2>
        <h4><%= t.event.title7 %></h4>
        <p><%= t.event.description9 %></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="steps">
        <h2>2.</h2>
        <h4><%= t.event.title8 %></h4>
        <p><%= t.event.description10 %></p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="steps">
        <h2>3.</h2>
        <h4><%= t.event.title9 %></h4>
        <p><%= t.event.description11 %></p>
      </div>
    </div>
  </div>
</section>
