<% if inscription.errors && !inscription.errors.empty? %>
  <section id="errors" class="container content-section">
    <div class="alert alert-danger" role="alert">
      <h2><%= t.index.errors %></h2>
      <ul>
        <% inscription.errors.each do |e,v| %>
          <li><%= eval('t.inscription.' + e.to_s) %> - <%= eval('t.inscription.' + v[0].to_s) %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
  <section class="main_container">
    <!--p><%= t.form.closed %></p-->
  <div class="triangle-topright"></div>
  <div class="triangle-topleft" style="left:-120px;top:500px"></div>

  <div class="cilinder"></div>
  <div class="lines"></div>
  <div class="triangle-topleft"></div>

  <div class="inscription" style="margin-top: 100px !important;">
    <h1><%= t.form.inscription %></h1>
    <p><%= t.form.process_title %></p>
    <p><%= t.form.process %></p>
    <p><%= t.form.process_dates %></p>
    <!--h2 style="color:red!important; margin: 60px;" class="text-center">Periodo de pre-inscripción <strong>FINALIZADO</strong></h2-->
  </div>


  <form action='/enviar' method='post' name='form' id="form">
   
    <div class="block">
      <h3><%= t.form.data %></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="input-container">
            <input type='text' name='name' id='name' required>
            <label for="name"><%= t.form.name %>*</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <input type='text' name='surname' id='surname' required>
            <label for="surname"><%= t.form.surname %>*</label>
          </div>
        </div>

        <div class="col-md-6">
          <label class="lbl" for="gender_radio"><%= t.form.gender %>*</label>
           <div id="gender_radio">
            <label class="radio-inline"><input type="radio" name="gender" value="<%= t.form.gender_male %>" ><%= t.form.gender_male %></label>
            <label class="radio-inline"><input type="radio" name="gender" value="<%= t.form.gender_female %>" ><%= t.form.gender_female %></label>
            <label class="radio-inline"><input type="radio" name="gender" value="<%= t.form.gender_other %>" ><%= t.form.gender_other %></label>
            <label class="radio-inline"><input type="radio" name="gender" value="<%= t.form.gender_none %>" checked><%= t.form.gender_none %></label>
           </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <input type='email' name='email' id='email' required>
            <label for="email"><%= t.form.email %>*</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <select name='country_origin' id='country_origin' required>
              <option value=""><%= t.form.country_origin %>*</option>
              <option value="">--------</option>
              <% FormData.countries.each do |country| %>
                <option value='<%= country %>' name='country_origin'
                        <% if country == inscription.country_origin %>
                        selected="selected"
                        <% end %>
                >
                  <%= country %>
                </option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <select name='country_residence' id='country_residence' required>
              <option value=""><%= t.form.country_residence %>*</option>
              <option value="">--------</option>
              <% FormData.countries.each do |country| %>
                <option value='<%= country %>' name='country_residence'
                        <% if country == inscription.country_residence %>
                        selected="selected"
                        <% end %>
                >
                  <%= country %>
                </option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="col-md-6">
            <div class="textarea-container">
              <textarea placeholder="<%= t.form.job %>*" name="job" id="job" required></textarea>
            </div>
        </div>

        <div class="col-md-6">
          <div class="textarea-container">
            <textarea placeholder="<%= t.form.open_data_usage %>*" name="open_data_usage" id="open_data_usage" maxlength="500" required></textarea>
          </div>  
          <small><%= t.form.open_data_usage_tooltip %></small>
        </div>

        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='personal_facebook' id='personal_facebook'>
              <label for="facebook"><%= t.form.facebook %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='personal_twitter' id='personal_twitter'>
              <label for="twitter"><%= t.form.twitter %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='personal_instagram' id='personal_instagram'>
              <label for="instagram"><%= t.form.instagram %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='url' name='personal_github' id='personal_github'>
              <label for="github"><%= t.form.github %></label>
            </div>
        </div>

        <div class="col-md-6">
          <label class="lbl" for="particpated_before"><%= t.form.particpated_before %></label>
           <div id="particpated_before">
            <label class="radio-inline"><input type="radio" name="particpated_before" value="<%= t.form.yep %>"><%= t.form.yep %></label>
            <label class="radio-inline"><input type="radio" name="particpated_before" value="<%= t.form.nop %>" checked><%= t.form.nop %></label>
           </div>
        </div> 

        <div class="col-md-6">
          <label class="lbl" for="parcipate_in"><%= t.form.parcipate_in %>:*</label>
           <div id="parcipate_in">
             <div class="checkbox">
                <label><input type="checkbox" name="event[]" class="require-one" value="<%= t.form.unconference %>"><%= t.form.unconference %></label>
              </div>
              <div class="checkbox">
               <label><input type="checkbox" name="event[]" class="require-one" value="<%= t.form.encounter_third_kind %>"><%= t.form.encounter_third_kind %></label>
              </div>
           </div>
          <p id="parcipate_in_error" class="error"><%= t.form.require_one %></p>
        </div>


        <div class="col-md-6">
          <label class="lbl" for="participates_in_representation"><%= t.form.participates_in_representation %></label>
           <div id="participates_in_representation">
            <label class="radio-inline"><input type="radio" id="participates" name="participates_in_representation" value="<%= t.form.yep %>"><%= t.form.yep %></label>
            <label class="radio-inline"><input type="radio" id="noparticipates" name="participates_in_representation" value="<%= t.form.nop %>" checked><%= t.form.nop %></label>
           </div>
        </div>

      </div>
    </div>


    <div class="block" id="organization_tab">
      <h3><%= t.form.organization %></h3>

      <div class="row">

        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='organization' id='organization'>
              <label for="organization"><%= t.form.name %>*</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <select name='organization_type' id='organization_type'>
                <option value=""><%= t.form.organization_type %>*</option>
                <option value="">--------</option>
                <% FormData.sectors.each do |sector| %>
                  <% sector = eval('t.form.' + sector.to_s) %>
                  <option value='<%= sector %>'
                          <% if inscription.organization_type == sector %>
                          selected="selected"
                          <% end %>
                  >
                    <%= sector %>
                  </option>
                <% end %>
              </select>
            </div>
        </div>
        <div class="col-md-6">
          <div class="textarea-container">
            <textarea placeholder="<%= t.form.organization_role %>*" name="organization_role" id="organization_role"></textarea>
          </div>      
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='url' name='website' id='website'>
              <label for="website"><%= t.form.website %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='facebook' id='facebook'>
              <label for="facebook"><%= t.form.facebook %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='twitter' id='twitter'>
              <label for="twitter"><%= t.form.twitter %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='text' name='instagram' id='instagram'>
              <label for="instagram"><%= t.form.instagram %></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-container">
              <input type='url' name='github' id='github'>
              <label for="github"><%= t.form.github %></label>
            </div>
        </div>
      </div>    

    </div>


    <div class="block">
      <h3><%= t.event.title %></h3>
      <div class="row">        

        <div class="col-md-12">
          <div class="textarea-container">
            <textarea placeholder="<%= t.form.open_data_problem %>*" name="open_data_problem" id="open_data_problem" required maxlength="500"></textarea>
          <small><%= t.form.open_data_problem_tooltip %></small>
          </div>      
        </div>

        <div class="col-md-12">
          <label class="lbl" for="parcipate_in"><%= t.form.food_title %>:*</label>
           <div id="lunch">
             <div class="checkbox">
                <label><input type="radio" id="lunch_confirmed" name="lunch_confirmation" value="<%= t.form.lunch_confirmed %>"><%= t.form.lunch_confirmed %></label>
              </div>
              <div class="checkbox">
               <label><input type="radio" id="lunch_out" name="lunch_confirmation" value="<%= t.form.lunch_out %>" checked><%= t.form.lunch_out %></label>
              </div>
           </div>
        </div>

       <div id="food_preference_tab">
        <div class="col-md-6">
          <label class="lbl" for="food_preference"><%= t.form.food_preference %></label>
           <div id="food_preference"> 
             <div class="checkbox">
                <label><input type="checkbox" name="food_preference[]"  value="<%= t.form.vegetarian %>"><%= t.form.vegetarian %></label>
              </div>
              <div class="checkbox">
               <label><input type="checkbox" name="food_preference[]" value="<%= t.form.vegan %>"><%= t.form.vegan %></label>
              </div>
              <div class="checkbox">
               <label><input type="checkbox" name="food_preference[]" value="<%= t.form.celiac %>"><%= t.form.celiac %></label>
              </div>
              <div class="checkbox">
               <label><input type="checkbox" name="food_preference[]" value="<%= t.form.diabetic %>"><%= t.form.diabetic %></label>
              </div>   
            </div>              
            <div class="input-container">
              <input type='text' name='allergy' id='allergy'>
              <label for="allergy"><%= t.form.allergy %>:</label>
            </div>     
        </div>
      </div>
        <div class="col-md-12">
          <div class="textarea-container">
            <textarea placeholder="<%= t.form.comments_suggestions %>*" name="comments_suggestions" id="comments_suggestions"></textarea>
          </div>
        </div> 
      </div>  
    </div>



    <div class="block">
      <h3><%= t.form.disclaimer_title %></h4>
      <p><%= t.form.disclaimer %></p>
    </div>

    <small style="float:right !important; text-align:right !important;"><%= t.form.mandatory %></small>
    <button type="submit" class="btn pull-right"><%= t.form.finish_her %></button>

  </form>
  <script src='/js/form.js'></script>
  <script src='/js/smoothscroll.min.js'></script>
</section>
