<% if survey.errors && !survey.errors.empty? %>
  <section id="errors" class="container content-section">
    <div class="alert alert-danger" role="alert">
      <h2><%= t.index.errors %></h2>
      <ul>
        <% survey.errors.each do |e,v| %>
          <li><%= eval('t.survey.' + e.to_s) %> - <%= eval('t.survey.' + v[0].to_s) %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
<section id="form" class="container content-section text-center">
  <div class="triangle-topright"></div>
  <div class="triangle-topleft blue" style="left:-120px;top:500px"></div>
  <div class="cilinder"></div>
  <div class="lines"></div>
  <div class="triangle-topleft"></div>
  <form action='/enviar' method='post' name='form' id="form">
    <div class="block">
      <h3><%= t.form.data %></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type='text' name='name' id='name' class="form-control" placeholder="<%= t.form.name %>*" value="<%= survey.name %>">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type='text' name='organization' id='organization' class="form-control" placeholder="<%= t.form.organization %>*" value="<%= survey.organization %>">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <input type='email' name='email' id='email' placeholder="<%= t.form.email %>*" class="form-control" value="<%= survey.email %>">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <div class="select-style">
              <select name='sector' id='sector'>
                <option><%= t.form.sector %>*</option>
                <option>--------</option>
                <% FormData.sectors.each do |sector| %>
                  <% sector = eval('t.form.' + sector.to_s) %>
                  <option value='<%= sector %>'
                          <% if survey.sector == sector %>
                          selected="selected"
                          <% end %>
                  >
                    <%= sector %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <div class="select-style">
              <select name='country' id='country'>
                <option><%= t.form.country %>*</option>
                <option>--------</option>
                <% FormData.countries.each do |country| %>
                  <option value='<%= country %>' name='country'
                          <% if country == survey.country %>
                          selected="selected"
                          <% end %>
                  >
                    <%= country %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
        <small><%= t.form.mandatory %></small>
      </div>
    </div>

    <div class="block">
      <h3><%= t.form.unconference %></h3>
      <div class="form-group">

        <p><%= t.form.unconference_info %></p>

        <label for="unconference"><%= t.form.join_unconference %></label>
        <input type="checkbox" id="unconference" name="unconference" class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
      </div>

      <div class="form-group">
        <h4><%= t.form.give_unconference %></h4>
        <textarea id="unconference_comments" name="unconference_comments"><%= survey.unconference_comments %></textarea>
      </div>
    </div>

    <div class="block">
      <div class="form-group">
        <h3><%= t.form.encounter_third_kind %></h3>
        <p><%= t.form.encounter_third_kind_info %></p>

        <label for="regional">
          <%= t.form.join_encounter %>
        </label>
        <input type="checkbox" class="check" name="regional" id="regional">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
      </div>

      <div class="form-group">
        <h4><%= t.form.stuff_interested %></h4>

        <div class="row" id="interests_group">
          <div class="col-md-6">
            <% FormData.interests.take(22).each do |interest| %>
              <div class="item-checkbox">
                <label for="<%= eval("t.interests." + interest.to_s) %>">
                  <%= eval("t.interests." + interest.to_s) %>
                </label>
                <input type="checkbox" class="check" value="<%= interest %>" id="<%= interest %>" name="interests[]">
                <section class="checkbox">
                  <span class="highlight"></span>
                </section>
              </div>
            <% end %>
          </div>

          <div class="col-md-6">
            <% FormData.interests[22..43].each do |interest| %>
              <div class="item-checkbox">
                <label for="<%= eval("t.interests." + interest.to_s) %>">
                  <%= eval("t.interests." + interest.to_s) %>
                </label>
                <input type="checkbox" class="check" value="<%= interest %>" id="<%= interest %>"  name="interests[]">
                <section class="checkbox">
                  <span class="highlight"></span>
                </section>
              </div>
            <% end %>
            <div class="item-checkbox">
              <label for="other">
                <%= t.form.other %>
              </label>
              <input type="checkbox" class="check" value="other" id="other"  name="interests[]">
              <section class="checkbox">
                <span class="highlight"></span>
              </section>
              <div class="form-group">
                <input type="text" name="other_interests" class="other_interests form-control">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <h4><%= t.form.what %></h4>
        <textarea id="conference_comments" name="conference_comments"><%= survey.conference_comments %></textarea>
        <div class="item-checkbox">
          <label for="enabler">
            <%= t.form.vote_me %>
          </label>
          <input type="checkbox" class="check" id="enabler" name="enabler">
          <section class="checkbox">
            <span class="highlight"></span>
          </section>
        </div>
      </div>

      <div class="row">
        <h4><%= t.form.linkedin %></h4>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" id="link" placeholder="<%= t.form.link_here %>" name="link" value="<%= survey.link %>">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <small><%= t.form.topics %></small>
          </div>
          <div class="col-md-6">
            <small><%= t.form.books_are_good %></small>
          </div>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="form-group">
        <h3><%= t.form.fellows_title %></h3>
        <p><%= t.form.fellows_content %></p>
        <label for="fellows_transport">
          <%= t.form.fellows_transport %>
        </label>
        <input type='checkbox' name='fellows_transport' id='fellows_transport' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>

        <label for="fellows_hosting">
          <%= t.form.fellows_hosting %>
        </label>
        <input type='checkbox' name='fellows_hosting' id='fellows_hosting' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
      </div>
    </div>

    <div class="block">
      <div class="form-group">
        <h3><%= t.form.termos %></h3>
        <p><%= t.form.termos_content %></p>
        <label for="email_organization">
          <%= t.form.email_organization %>
        </label>
        <input type='checkbox' value='email_organization' name='email_organization' id='email_organization' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>

        <label for='register_image'><%= t.form.register_image %></label>
        <input type='checkbox' value='register_image' name='register_image' id='register_image' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
        <small><%= t.form.mandatory %></small>
        <small><%= t.form.shy %></small>
      </div>

      <div class="block">
        <button type="submit" class="btn"><%= t.form.finish_her %></button>
      </div>
  </form>
  <script src='/js/validate.min.js'></script>
  <script src='/js/smoothscroll.min.js'></script>
  <script src='/js/form.js'></script>
</section>
