<% if survey.errors && !survey.errors.empty? %>
  <section id="errors" class="container content-section">
    <div class="alert alert-danger" role="alert">
      <h2><%= t.index.errors %></h2>
      <ul>
        <% survey.errors.each do |e,v| %>
          <li><%= eval('t.survey.' + e.to_s) %> - <%= eval('t.survey.' + v[0].to_s) %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
<section id="form" class="container content-section text-center">
  <div class="triangle-topright"></div>
  <div class="triangle-topleft" style="left:-120px;top:500px"></div>

  <div class="cilinder"></div>
  <div class="lines"></div>
  <div class="triangle-topleft"></div>

  <form action='/enviar' method='post' name='form' id="form">
    <div class="block">
      <h3><%= t.form.data %></h3>
      <div class="row">
        <div class="col-md-6">
          <div class="input-container">
            <input type='text' name='name' id='name' value="<%= survey.name %>">
            <label for="name"><%= t.form.name %>*</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <input type='text' name='organization' id='organization' value="<%= survey.organization %>">
            <label for="organization"><%= t.form.organization %>*</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <input type='email' name='email' id='email' value="<%= survey.email %>">
            <label for="email"><%= t.form.email %>*</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <select name='sector' id='sector'>
              <option><%= t.form.sector %>*</option>
              <option>--------</option>
              <% FormData.sectors.each do |sector| %>
                <% sector = eval('t.form.' + sector.to_s) %>
                <option value='<%= sector %>'
                        <% if survey.sector == sector %>
                        selected="selected"
                        <% end %>
                >
                  <%= sector %>
                </option>
              <% end %>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="input-container">
            <select name='country' id='country'>
              <option><%= t.form.country %>*</option>
              <option>--------</option>
              <% FormData.countries.each do |country| %>
                <option value='<%= country %>' name='country'
                        <% if country == survey.country %>
                        selected="selected"
                        <% end %>
                >
                  <%= country %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
        <small><%= t.form.mandatory %></small>
      </div>
    </div>

    <div class="block">
      <h3><%= t.form.unconference %></h3>
      <div class="form-group">

        <p><%= t.form.unconference_info %></p>

        <label class="checkbox_label" for="unconference">
          <%= t.form.join_unconference %>
        </label>
        <input type="checkbox" id="unconference" name="unconference" class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>

        <small><%= t.form.unconference_limit %></small>
      </div>
    </div>

    <div class="block">
      <div class="form-group">
        <h3><%= t.form.encounter_third_kind %></h3>
        <p><%= t.form.encounter_third_kind_info %></p>

        <label class="checkbox_label" for="regional">
          <%= t.form.join_encounter %>
        </label>
        <input type="checkbox" class="check" name="regional" id="regional">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
      </div>
    </div>

    <div class="block">
      <div class="form-group">
        <h3><%= t.form.fellows_title %></h3>
        <p><%= t.form.fellows_content %></p>
        <label class="checkbox_label" for="fellows_transport">
          <%= t.form.fellows_transport %>
        </label>
        <input type='checkbox' name='fellows_transport' id='fellows_transport' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>

        <label class="checkbox_label" for="fellows_hosting">
          <%= t.form.fellows_hosting %>
        </label>
        <input type='checkbox' name='fellows_hosting' id='fellows_hosting' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
      </div>
    </div>

    <div class="block">
      <div class="form-group">
        <h3><%= t.form.termos %></h3>
        <p><%= t.form.termos_content %></p>
        <label class="checkbox_label" for="email_organization">
          <%= t.form.email_organization %>
        </label>
        <input type='checkbox' value='email_organization' name='email_organization' id='email_organization' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>

        <label class="checkbox_label" for='register_image'><%= t.form.register_image %></label>
        <input type='checkbox' value='register_image' name='register_image' id='register_image' class="check">
        <section class="checkbox">
          <span class="highlight"></span>
        </section>
        <small><%= t.form.mandatory %></small>
        <small><%= t.form.shy %></small>
      </div>

      <div class="block">
        <button type="submit" class="btn"><%= t.form.finish_her %></button>
      </div>
  </form>
  <script src='/js/validate.min.js'></script>
  <script src='/js/smoothscroll.min.js'></script>
  <script src='/js/form.js'></script>
</section>
