<header class="intro intro_video text-center">

  <h3 class="jcountTimer"></h3>

  <div id="video_stream">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/TMkj5sElN2w" frameborder="0" allowfullscreen></iframe>
  </div>

</header>


<section class="main_container" id="home_page">
  <div id="intro_txt">
    <figure>
      <img src="img/calendar.png" class="img-responsive">
    </figure>

    <div class="mt">
      <p>
        <b>
          <%= t.index.content1 %>
        </b>
      </p>
      <p>
        <%= t.index.content2 %>
      </p>
      <p>
        <%= t.index.content3 %>
      </p>
      <p>
        <%= t.index.content4 %>
      </p>
    </div>
  </div>

  <%= erb :organizers %>
  <%= erb :sponsors %>
  
</section>
<script src="js/countdown.js"></script>
<script src="js/smoothscroll.min.js"></script>
