<header class="intro intro_video text-center">

  <h3 class="jcountTimer"></h3>

  <div id="video_stream">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/TMkj5sElN2w" frameborder="0" allowfullscreen></iframe>
  </div>

</header>


<section class="main_container" id="home_page">
  <div id="intro_txt" class="container">

    <div class="row">
        <img src="img/calendar.png" class="abrelatam-condatos img-responsive">
    </div>

    <div class="row">
      <p class="text-center">
        <b>
          <%= t.index.content1 %>
        </b>
      </p>
    </div>

    <div class="row">
      <h4 class="list-title text-center text-uppercase">
        <strong><%= t.index.content2 %></strong>        
      </h4>
      <p>
        <%= t.index.content3 %>
      </p>
    </div>

    <div class="row">
        <%= erb :organizers %>
        <%= erb :sponsors %>
    </div>

  </div>
</section>
<script src="js/countdown.js"></script>
<script src="js/smoothscroll.min.js"></script>
