<header class="intro intro_video text-center">
  <ul>
    <li><a id="agesic" href="http://www.agesic.gub.uy" target="_blank">Agesic</a></li>
    <li><a id="presidencia" href="https://www.presidencia.gub.uy" target="_blank">Presidencia</a></li>
    <li><a id="rga" href="http://rga.uy" target="_blank">Red de gobierno abierto uruguay</a></li>
  </ul>

  <a id="logoevento" class="stream_video" href="#" class="svg">
    <object data="img/logoevent.svg" type="image/svg+xml" class="mailicon">
    </object>
  </a>
  <div id="video_stream">
    <h3>Mira la transimsion del evento en vivo</h3>
    <iframe id="playlist_iframe" frameborder="0" src ="" width="100%" height="100%" mozallowfullscreen>
    </iframe>
    <script>var iframe=document.getElementById("playlist_iframe"); iframe.src="http://tv.vera.com.uy/syndication/index.php/sindicacion/play/ANTEL-PLAYER/17530?extras=eyJ3aWR0aCI6IjEwMCUiLCJoZWlnaHQiOiIxMDAlIiwiaWZyYW1lZCI6MSwic2VjdXJpdHlfdG9rZW4iOiJOelEwTmpFME5qUTJNak0zT1RNNk9tTmlNMlF4TVdGaU9USmxNelEyWkdNM1pqWm1ObU0yWTJGaVpHTm1NRFUxWWpVMk5ESXhNakpoWm1WbVlUUTVZMlZtWVRneVlUTTVZMkl4TVRkaU1UTT0iLCJ3c190b2tlbiI6bnVsbH0="</script>
  </div>
</header>

<section class="main_container" id="home_page">
  <div id="intro_txt">
    <figure>
      <img src="img/logo_small.svg">
    </figure>

    <div class="mt">
      <p>
        <b>
          <%= t.index.content1 %>
        </b>
      </p>
      <p>
        <%= t.index.content2 %>
      </p>
    </div>
  </div>

  <!-- - TODO: erb :speakers -->

  <%= erb :sponsors %>
  <%= erb :organizers %>
  <div id="interest">
    <h2 class="sub_title"><%= t.index.interest %></h2>
    <div>
      <figure>
        <a href="http://www.turismo.gub.uy/" target="_blank">
          <img src="img/mintur.png">
        </a>
      </figure>
    </div>
  </div>
</section>
<script src="js/countdown.js"></script>
<script src="js/smoothscroll.min.js"></script>
