<% if survey.errors && !survey.errors.empty? %>
  <section id="errors" class="container content-section">
    <div class="alert alert-danger" role="alert">
      <h2><%= t.index.errors %></h2>
      <ul>
        <% survey.errors.each do |e,v| %>
          <li><%= eval('t.survey.' + e.to_s) %> - <%= eval('t.survey.' + v[0].to_s) %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>

<section id="about" class="container content-section text-center">
  <div class="triangle-topright"></div>
  <div class="triangle-topleft"></div>
  <div class="triangle-topleft blue" style="left:-120px;top:500px"></div>
  <div class="cilinder"></div>
  <div class="lines"></div>
  <div class="row">
    <h1><%= t.index.title %></h1>
    <div class="col-md-6">
      <p><%= t.index.content1 %></p>
      <p><%= t.index.content2 %></p>
    </div>
    <div class="col-md-6">
      <p><%= t.index.content3 %></p>
      <p><%= t.index.content4 %></p>
    </div>
    <div class="col-md-6">
      <p><%= t.index.content5 %></p>
    </div>
  </div>
  <div class="btns">
    <div class="row">
      <div class="col-md-6">
        <a href="/proceso" class="btn"><%= t.selection_process.title %></a>
      </div>
      <div class="col-md-6">
        <a href="/criterios" class="btn"><%= t.criteria.title %></a>
      </div>
      <!-- div class="col-md-4">
        <a href="/becarios" class="btn"><%= t.index.fellows %></a>
      </div>-->
    </div>
  </div>
</section>

<!-- FORM -->
<%= erb :form, locals: { survey: survey } %>
