<section class="main_container" id="montevideo_page">
  <div class="title">
    <h2><%= t.montevideo.title %></h2>
    <p><%= t.montevideo.subtitle %></p>
  </div>

  <div class="travel">
    <h3><%= t.montevideo.travel %></h3>
    <div class="cta">
      <a href="#" id="earth">
        <img src="img/mvd/bus.svg">
        <p><%= t.montevideo.earth %></p>
      </a>
    </div>
    <div class="cta">
      <a href="#" id="air">
        <img src="img/mvd/air.svg">
        <p><%= t.montevideo.air %></p>
      </a>
    </div>
    <div class="cta">
      <a href="#" id="sea">
        <img src="img/mvd/sea.svg">
        <p><%= t.montevideo.sea %></p>
      </a>
    </div>

    <div class="info">
      <p><i></i><%= t.montevideo.visas %></p>
    </div>
  </div>

  <div class="transport">
    <h3><%= t.montevideo.transport %></h3>

    <div class="cta">
      <a href="#" id="airport">
        <img src="img/mvd/landing.svg">
        <p><%= t.montevideo.airport %></p>
      </a>
    </div>

    <div class="cta">
      <a href="#" id="bus">
        <img src="img/mvd/bus02.svg">
        <p><%= t.montevideo.bus %></p>
      </a>
    </div>

    <div class="cta">
      <a href="#" id="taxi">
        <img src="img/mvd/taxi.svg">
        <p><%= t.montevideo.taxi %></p>
      </a>
    </div>

    <div class="cta">
      <a href="#" id="bike">
        <img src="img/mvd/bici.svg">
        <p><%= t.montevideo.bike %></p>
      </a>
    </div>

    <div class="info">
      <p><i></i><%= t.montevideo.accessibility %></a></p>
    </div>
  </div>

  <div class="other">
    <h3><%= t.montevideo.other %></h3>
    <div class="cta">
      <a href="#" id="activity">
        <img src="img/mvd/activity.svg">
        <p><%= t.montevideo.activity %></p>
      </a>
    </div>
    <div class="cta">
      <a href="#" id="lodging">
        <img src="img/mvd/house.svg">
        <p><%= t.montevideo.lodging %></p>
      </a>
    </div>
    <div class="cta">
      <a href="#" id="weather">
        <img src="img/mvd/weather.svg">
        <p><%= t.montevideo.weather %></p>
      </a>
    </div>

    <div class="info">
      <h3>Información general</h3>
      <p>
        <strong><%= t.montevideo.change %></strong> : <%= t.montevideo.change_info %>
      </p>
      <p>
        <strong><%= t.montevideo.security %></strong> : <%= t.montevideo.security_info %>
      </p>
      <p>
        <strong><%= t.montevideo.tip %></strong> : <%= t.montevideo.tip_info %>
      </p>
      <p>
        <strong><%= t.montevideo.electricity %></strong> : <%= t.montevideo.electricity_info %>
      </p>
    </div>
  </div>
</section>
<%= erb :montevideo_modals %>
