<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <%= erb :volver_top %>
      <h1><%= t.montevideo.title %></h1>
      <h2><%= t.montevideo.travel %></h2>
      <p><%= t.montevideo.travel_1 %></p>
      <h2><%= t.montevideo.transport %></h2>
      <p><%= t.montevideo.transport_1 %></p>
      <h2><%= t.montevideo.hosting %></h2>
      <p><%= t.montevideo.hosting_1 %></p>
      <h2><%= t.montevideo.activities %></h2>
      <p><%= t.montevideo.activities_1 %></p>
      <h2><%= t.montevideo.weather %></h2>
      <p><%= t.montevideo.weather_1 %></p>
      <h2><%= t.montevideo.info %></h2>
      <p><%= t.montevideo.info_1 %></p>
    </div>
  </div>
</section>
