<div class="modal" tabindex="-1" id="earth-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="earth-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/bus.svg">
        </figure>
        <div class="mt">
          <h3><%= t.montevideo.earth %></h3>
          <p><%= t.montevideo_modals.earth %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="air-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="air-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/air.svg">
        </figure>
        <div class="mt">
          <h3><%= t.montevideo.air %></h3>
          <p><%= t.montevideo_modals.air %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="sea-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="sea-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/sea.svg">
        </figure>
        <div class="mt">
          <h3>Mar</h3>
          <p><%= t.montevideo_modals.sea %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="visa-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="visa-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mt">
          <h3><%= t.montevideo.visas %></h3>
          <p><%= t.montevideo_modals.visas %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="airport-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="airport-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/landing.svg">
        </figure>
        <div class="mt">
          <h3><%= t.montevideo.airport %></h3>
          <p><%= t.montevideo_modals.airport %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="bus-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="bus-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/bus02.svg">
        </figure>
        <div class="mt">
          <h3><%= t.montevideo.bus %></h3>
          <p><%= t.montevideo_modals.bus %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="taxi-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="taxi-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/taxi.svg">
        </figure>
        <div class="mt">
          <h3><%= t.montevideo.taxi %></h3>
          <p><%= t.montevideo_modals.taxi %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="bike-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="bike-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="img/mvd/bici.svg">
        </figure>
        <div class="mt">
          <h3><%= t.montevideo.bike %></h3>
          <p><%= t.montevideo_modals.bike %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="accessibility-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="accessibility-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mt">
          <h3><%= t.montevideo.accessibility %></h3>
          <p><%= t.montevideo_modals.accessibility %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="hotel-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="hotel-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mt">
          <h3><%= t.montevideo.hotel %></h3>
          <p><%= t.montevideo_modals.hotel %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="hostel-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="hostel-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mt">
          <h3><%= t.montevideo.hostel %></h3>
          <p><%= t.montevideo_modals.hostel %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" tabindex="-1" id="hood-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="hood-close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="mt">
          <h3><%= t.montevideo.hood %></h3>
          <p><%= t.montevideo_modals.hood %></p>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
 ['earth', 'sea', 'air', 'visa', 'airport', 'bus', 'taxi', 'bike', 'accessibility', 'hotel', 'hostel', 'hood'].forEach(openModal);
 ['earth', 'sea', 'air', 'visa', 'airport', 'bus', 'taxi', 'bike', 'accessibility', 'hotel', 'hostel', 'hood'].forEach(setClose);

 function openModal(name){
   document.getElementById(name).addEventListener('click', function(e){
     e.preventDefault();
     var modal = document.getElementById(name + '-modal');
     if (modal.classList.contains('fade')){
       modal.style.display = "none";
     } else {
       modal.style.display = "block";
     }
   });
 }

 function setClose(name){
   document.getElementById(name + '-close').addEventListener('click', function(e){
     e.preventDefault();
     document.getElementById(name + '-modal').style.display = 'none';
   });
 }
</script>
