<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <h1><%= t.selection_process.title %></h1>
      <p><%= t.selection_process.content1 %></p>
      <p><%= t.selection_process.content2 %></p>
      <p><%= t.selection_process.content3 %></p>
      <p><%= t.selection_process.content4 %></p>
      <p><%= t.selection_process.content5 %></p>
    </div>
    <%= erb :volver %>
  </div>
</section>
