<section class="container content-section">
  <div class="row">
    <div class="col-md-12">
      <%= erb :volver_top %>
      <h1><%= t.hqs.title %></h1>
      <h2><%= t.hqs.title_1 %></h2>
      <p><%= t.hqs.description_1 %></p>
      <h2><%= t.hqs.title_2 %></h2>
      <p><%= t.hqs.description_2 %></p>
    </div>
  </div>
</section>
