<link href="css/leaflet.css" rel="stylesheet">
<section class="main_container">
  <div id="sedes_content">
    Seleccione una de las locaciones para mayor información
  </div>
  <div id="map">
  </div>
  <!-- div class="row">
    <div class="col-md-12">
      <%= erb :volver_top %>
      <h1><%= t.hqs.title %></h1>
      <h2><%= t.hqs.title_1 %></h2>
      <p><%= t.hqs.description_1 %></p>
      <h2><%= t.hqs.title_2 %></h2>
      <p><%= t.hqs.description_2 %></p>
    </div>
  </div-->
</section>
<script src="js/leaflet.js" type="text/javascript"></script>
<script src="js/sedes.js" type="text/javascript"></script>
